{% extends "base.html" %}
{% block content %}
<H1>注册</H1>
<div class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="email">邮箱地址:</label>
		<div class="controls">
			<input type="text" id="email" placeholder="sample@qq.com"/>
			<span class="help-inline" style="display:none;">请输入邮箱地址</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="nickname">昵称:</label>
		<div class="controls">
			<input type="text" id="nickname" placeholder="小清新mm"/>
			<span class="help-inline" style="display:none;">请输入昵称</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="pwd">设置密码:</label>
		<div class="controls">
			<input type="password" id="pwd" placeholder="Password"/>
			<span class="help-inline" style="display:none;">密码长度6-20位</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="repwd">确认密码:</label>
		<div class="controls">
			<input type="password" id="repwd" placeholder="Confirm Password"/>
			<span class="help-inline" style="display:none;"></span>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
	<input type="button" id="reg"  class="btn btn-success" data-loading-text="正在处理..." value="注册" />
	<input type="reset" id="reset" class="btn btn-success" value="重置" />
		</div>
	</div>
</div>
{% endblock %}
{% block footer_javascript %}
<script>
		$(function($){
			// alert("ready");
			
		});
		// function changeCaptcha() {
		// 	$("#authCode").attr('value', '');
		// 	$("#img_captcha").attr('src', 'http://t.hd.xiaomi.com/?_a=20130820&_op=authcode&_r=' + Math.random());
		// }
		/**
		 * 验证手机号码
		 */
		// function checkMobile(mobile) {
		// 	var patrn = /^1[3|4|5|8][0-9]\d{8}$/;	// 11 位手机
		// 	//var patrn = /^\d{11,}$/;	// 11 位以上数字
		// 	if(!patrn.exec(mobile)) {
		// 		return false;
		// 	} else {
		// 		return true;
		// 	};
		// };

		/**
		 * 验证邮箱格式
		 */
		function checkMailFormat(mail) {
			var patrn = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
			if(!patrn.exec(mail)) {
				return false;
			} else {
				return true;
			};
		};

		/**
		 * 验证是否为中文
		 */
		// function checkCn(string) {
		// 	var patrn = /^[\u4e00-\u9fa5]+$/;
		// 	if(!patrn.exec(string)) {
		// 		return false;
		// 	} else {
		// 		return true;
		// 	};
		// };

		/**
		 * 返回字符串长度，中文字符算作两个
		 */
		function len(str){
			return str.replace(/[^\x00-\xff]/g,"aa").length;
		};

		var newAccount = function(event) {
			if(!checkEmail()){
				$("#email").focus();
				return
			}
			if(!checkPwd()){
				$("#pwd").focus();
				return 
			}
			if(!checkRepwd()){
				$("#repwd").focus()
				return 
			}
			// console.log("new account");
			// $("#reg").attr("disabled",true);
			// alert("reg")
			// return false;
			$("#reset").focus();

			$.ajax({
				type:"POST",
				dataType:"json",
				url:"/account/register/",
				cache:false,
				data:{email:$("#email").val(),pwd:$("#pwd").val(),nickname:$("#nickname").val()},
				success:function(data,textStatus){
					alert(textStatus)
				},
				error:function(XMLHttpRequest,textStatus,errorThrown){
					alert(textStatus+":"+errorThrown)
				},
				beforeSend: function(){
					alert("processing...")
				},
			});
			// return false;

		};


		
		$("#email").bind("blur",checkEmail);
		$("#nickname").bind("blur",checkNickName);
		$("#pwd").bind("blur",checkPwd);
		$("#repwd").bind("blur",checkRepwd);

		$("#reg").bind('click', function(){
			console.log("exec click");
			newAccount();
		} );

		$("#email").keydown(function(event) {
			if(event.keyCode==13){
				$("#nickname").focus();
			}
			// return false;
		});
		$("#nickname").keydown(function(event) {
			if(event.keyCode==13){
				$("#pwd").focus();
			}
		});
		$("#pwd").keydown(function(event) {
			if(event.keyCode==13){
				$("#repwd").focus();
			}
		});
		$("#repwd").keydown(function(event) {
			if(event.keyCode==13){
				$("#reg").focus();
				return false;
			}
		});

		$("#reg").keydown(function(event) {
			if(event.keyCode==13){
				return false
			}
		});

		var oldEmail;
		function checkEmail(){
			var email = $("#email");
			var parent = email.parent().parent();
			if(email.val()==""){
				email.next("span").html("请输入邮箱地址").show();
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				return false;
			}
			else if(email.val()!="" && !checkMailFormat(email.val())){
				email.next("span").html("邮箱格式错误").show();
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				return false;
			}else{
				  if(parent.hasClass("error")){
					parent.removeClass("error");
				};
				email.next("span").hide();
			}
			// checking email is used
			// alert(email.val());
			if(oldEmail!=email.val()){
				$.ajax({
					url:'/account/checking/',
					dataType:'json',
					type:'GET',
					data:{
						type:'E',
						email:email.val()
					},
					success:function(data,textStatus){
						email.next("span").html("邮箱地址可使用").show();
						// alert(textStatus);

					},
					error:function(d,textStatus){
						alert(textStatus);
						return false;
					}
				});
				oldEmail=email.val();
			}
			return true;
		};

		function checkNickName(){
			var nickname =$("#nickname");
			var value = nickname.val().trim()
			var parent = nickname.parent().parent();
			if (value==""){
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				console.log("empty");
				nickname.next("span").html("请设置昵称").show();
				return false;
			}
			else if(value.length>20){
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				nickname.next("span").html("请昵称字符不能超过20个").show();
				return false;
			}

			$.ajax({
				url: '/account/checking/',
				type: 'GET',
				dataType: 'json',
				data:{
						type:'N',
						nickname:value
					}
			})
			.done(function() {
				console.log("success");
			})
			.fail(function() {
				console.log("error");
				return false;
			})
			.always(function() {
				console.log("complete");
			});
			
			return true
		};

		function checkPwd(){
			var pwd=$("#pwd");
			var parent = pwd.parent().parent();
			if(pwd.val()==""){
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				pwd.next("span").html("请输入密码").show();
				return false;
			}else if(pwd.val().length<6 || pwd.val().length>20){
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				pwd.next("span").html("密码长度6-20位.").show();
				return false;
			}else{
				if(parent.hasClass("error")){
				parent.removeClass("error");
				};
				pwd.next("span").hide();
			};
			return true;
		};
		
		function checkRepwd(){
			var repwd=$("#repwd");
			var parent = repwd.parent().parent();
			if(repwd.val()!=$("#pwd").val()){
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				repwd.next("span").html("两次输入密码不一致.").show();
				return false;
			}else{
				if(parent.hasClass("error")){
					parent.removeClass("error");
				};
				repwd.next("span").hide();
			};
			return true;
	};


			
		



		// var formBoxModifly  = 1;
		var regData = function(){
			// alert("Testtext");
			var username 	= $("#username"),
			tel      	 	= $("#tel"),
			email    	 	= $("#email"),
			authcode 	 	= $("#authcode"),
			versionValue    = $('input[name=version]:checked').val(),
			miphone			= $('input[id=productA]:checked').val(),
			box			    = $('input[id=productB]:checked').val(),
			miphoneBox		= $('input[id=productC]:checked').val(),
			accessoryObj    = versionValue == "8" || versionValue == "9" ? "pa" : "pa2",
			accessory		= $("#" + accessoryObj),
			accessoryPP		= $("#paPP"),
			miPhone,
			miBox;
			if(miphoneBox == 1){
				miphone = 1;
				box = 1;
			};

			if (formBoxModifly === 0){
				if(username.val().length < 2) {
					username.focus();
					username.next().show();
					return;
				};
				if(!checkCn(username.val())) {
					username.focus();
					username.next().show();
					return;
				};
				if(!checkMail(email.val())) {
					email.focus();
					email.next().show();
					return;
				};
				if(!checkMobile(tel.val())) {
					tel.focus();
					tel.next().show();
					return;
				};
			};

			if(!versionValue && miphone != undefined) {
				$("#versionTip").show();
				return;
			};
			if(miphone != undefined) {
				miPhone = 1;
			} else {
				miPhone = 0;
			}
			if(box != undefined) {
				miBox = 1;
			} else {
				miBox = 0;
			}
			$("#versionTip").hide();
			authcodeValue = '123456';
			var authcode = $("#authCode");
			if (authcode.val().length < 4 || authcode.val().length > 7){
				$('#authcodeTip').show();
				return;
			};

			authcodeValue = authcode.val();
			accessoryValue = accessory.prop("checked") ? 1 : 0;
			accessoryPPValue = accessoryPP.prop("checked") ? 1 : 0;
			_gaq.push(['_trackEvent', '活动', '预约页', '提交']);
			$.ajax({
				type: 'POST',
				url: 'http://t.hd.xiaomi.com/?_a=20130820&_op=dobook&_v=1377011223',
				data: { _ia:1, _op:'dobook',_a:'20130820', _aff:'b12af6b', username:username.val(), mobile:tel.val(), email:email.val(), version:versionValue, accessory:accessoryValue,accessory2:accessoryPPValue,miphone:miPhone,box:miBox, authcode_red_mi_3rd:authcodeValue},
				success: function(d){
					if( (typeof d =='object') && d.info ) {
						if(d.info == '提交完成，请稍候') {
							location.href = 'http://t.hd.xiaomi.com/?_a=20130820&_op=waiting';
						} else {
							if(d.info == '验证码错误次数过多。') {
								location.href = 'http://p.www.xiaomi.com/open/common/tip_tooMuchTry.html';
							} else {
								$('#authcodeTip').text(d.info).show();
							}
						}
						return;
					}
				},
				error: function(d){
					$('#authcodeTip').text('提交失败，请重试').show();
					return;
				},
				beforeSend: function(){
				},
				dataType:'json'
			});
		};//,
		// toggleMealSetIntro =  function(str){
  //           if ($("#" + str + ":visible").size() > 0) {
  //               $("#" + str).hide();
  //           } else {
  //               $("#" + str).show();
  //           }
		// },
		// formBoxMod = function(){
		// 	var formBox = $("#formBox");
		// 	formBox.removeClass("formBoxModifly");
		// 	formBoxModifly = 0;
		// };
		// formBoxMod();	
</script>
{% endblock %}