{% extends "base.html" %}
{% block content %}
<H1>注册</H1>
<div id="reg_form">
{% if registed %}
	注册成功!<p>激活链接已发送到您注册的邮箱({{ email }}),马上登录邮箱激活吧!</p>
{% else %}

<form class="form-horizontal" action="/account/register/" method="post">
	{% if form.errors %}
	<ul class="unstyled alert alert-error">
		{% for msg in form.email.errors %}
			<li>{{ msg }}</li>
		{% endfor %}
		{% for msg in form.username.errors %}
			<li>{{ msg }}</li>
		{% endfor %}
		{% for msg in form.password.errors %}
			<li>{{ msg }}</li>
		{% endfor %}
		{% for msg in form.confirm_password.errors %}
			<li>{{ msg }}</li>
		{% endfor %}
		{{ form.non_field_errors }}
	</ul>
	{% endif %}
	<div class="control-group">
			<label class="control-label" for="email">邮箱地址:</label>
			<div class="controls">
				{{ form.email }}
				<span class="help-inline" style="display:none;">请输入邮箱地址</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="username">昵称:</label>
			<div class="controls">
			{{ form.username }}
				<span class="help-inline" style="display:none;">请输入昵称</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">设置密码:</label>
			<div class="controls">
				{{ form.password }}
				<span class="help-inline" style="display:none;">密码长度6-20位</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="confirm_password">确认密码:</label>
			<div class="controls">
				{{ form.confirm_password }}
				<span class="help-inline" style="display:none;"></span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-success"  value="立即注册" />
			</div>
		</div>
</form>
{% endif %}
</div>
{% endblock %}
{% block footer_javascript %}
<script>
		// $(function($){

		// });
		// function changeCaptcha() {
		// 	$("#authCode").attr('value', '');
		// 	$("#img_captcha").attr('src', 'http://t.hd.xiaomi.com/?_a=20130820&_op=authcode&_r=' + Math.random());
		// }

		/**
		 * 验证邮箱格式
		 */
		function checkMailFormat(mail) {
			var patrn = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
			if(!patrn.exec(mail)) {
				return false;
			} else {
				return true;
			};
		};

	   function checkDigitalLatter(str){
		   	var patrn=/[^A-Za-z0-9]/;
		   	if(patrn.exec(str)){
		   		return false;
		   	}else{
		   		return true;
		   	}
	   }
		/**
		 * 验证是否为中文
		 */
		// function checkCn(string) {
		// 	var patrn = /^[\u4e00-\u9fa5]+$/;
		// 	if(!patrn.exec(string)) {
		// 		return false;
		// 	} else {
		// 		return true;
		// 	};
		// };

		/**
		 * 返回字符串长度，中文字符算作两个
		 */
		function len(str){
			return str.replace(/[^\x00-\xff]/g,"aa").length;
		};

		$("form").submit(function(event) {
			console.log("begin exec register ...")
			var temp;
			// alert(temp);
			if(!checkEmail()){
				temp = $("email");
				// $("#email").focus();
				// return false;
			}
 
			if(!checkusername()){
				if(!temp){
					temp=$("#username");
				}
				// $("#username").focus();
				// return false;
			}

			if(!checkpassword()){
				if(!temp){
					temp=$("#password");
				}
				// $("#password").focus();
				// return false;
			}
			if(!checkconfirm_password()){
				if(!temp){
					temp=$("#checkconfirm_password");
				}
				// $("#confirm_password").focus()
				// return false;
			}
			// console.log(temp);
			if(temp){
				temp.focus();
				// console.log(" pos 10 ...")
				return false;
			}

			// console.log("pos 20 ...")
			$.ajax({
				type:"POST",
				dataType:"json",
				url:"/account/register/",
				cache:false,
				data:{email:$("#email").val(),
					  password:$("#password").val(),
					  username:$("#username").val()
					 },
				success:function(data,textStatus){
					if(data.result=='success'){
						$(":text").val("");
						$(":password").val("");
						$(".control-group span").html("");
						$("#reg_form").html("注册成功!<p>激活链接已发送到您注册的邮箱("+data.email+"),马上登录邮箱激活吧!</p>");
					}else{
						alert(data.result+":"+data.msg);
					}
				},
				error:function(XMLHttpRequest,textStatus,errorThrown){
					alert(textStatus+":"+errorThrown)
				},
				beforeSend: function(){
					// alert("processing...")
				},
			});
			console.log("end exec register ...")
			return false;
		});


		
		$("#email").bind("blur",checkEmail);
		$("#username").bind("blur",checkusername);
		$("#password").bind("blur",checkpassword);
		$("#confirm_password").bind("blur",checkconfirm_password);

		$("#email").keydown(function(event) {
			if(event.keyCode==13){
				$("#username").focus();
				return false;
			}
			
		});
		$("#username").keydown(function(event) {
			if(event.keyCode==13){
				$("#password").focus();
				return false;
			}
			
		});
		$("#password").keydown(function(event) {
			if(event.keyCode==13){
				$("#confirm_password").focus();
				return false;
			}
			
		});
		$("#confirm_password").keydown(function(event) {
			if(event.keyCode==13){
				$(":submit").focus();
				return false;
			}
			
		});

		$(":submit").keydown(function(event) {
			if(event.keyCode==13){
				// console.log("keydown");
				return false;
			}
		});

		var oldEmail;
		function checkEmail(){
			var email = $("#email");
			var parent = email.parent().parent();
			if(email.val()==""){
				email.next("span").html("请输入邮箱地址").show();
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				return false;
			}
			else if(email.val()!="" && !checkMailFormat(email.val())){
				email.next("span").html("邮箱格式错误").show();
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				return false;
			}

			if(oldEmail!=email.val()){
				$.ajax({
					url:'/account/checking/',
					dataType:'json',
					type:'GET',
					data:{
						type:'E',
						value:email.val()
					},
					success:function(data,textStatus){
						// alert(data.status)
						// alert(textStatus)
						if(data.status==="N"){
							email.next("span").html("邮箱地址可使用").show();
							if(parent.hasClass("error")){
								parent.removeClass("error");
							};
							// email.next("span").hide();
						}else if(data.status==="Y"){
							if(!parent.hasClass("error")){
								parent.addClass("error");
							};
							email.next("span").html("邮件已被注册,请更换其他邮箱.").show();
							return false;
						}
						// alert(textStatus);
					},
					error:function(d,textStatus){
						alert(textStatus);
						return false;
					}
				});
				oldEmail=email.val();
			}
			return (!parent.hasClass("error"))
		};

		var oldusername
		function checkusername(){
			var username =$("#username");
			var value = username.val().trim()
			var parent = username.parent().parent();
			if (value=="" || value==null){
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				// console.log("empty");
				username.next("span").html("请设置昵称").show();
				return false;
			}
			else if(value.length>20){
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				username.next("span").html("请昵称字符不能超过20个").show();
				return false;
			}

			if(oldusername!=value){
				$.ajax({
					url: '/account/checking/',
					type: 'GET',
					dataType: 'json',
					data:{
							type:'N',
							value:value
						},
					success:function(data,textStatus) {
							if(data.status==="N"){
								username.next("span").html("昵称可使用").show();
								if(parent.hasClass("error")){
									parent.removeClass("error");
								};
								username.next("span").show();
							}else if(data.status==="Y"){
								if(!parent.hasClass("error")){
									parent.addClass("error");
								};
								username.next("span").html("昵称已被使用").show();
								return false;
							}
						},
					error: function(d,textStatus){
						alert(textStatus);
						return false;
					}
				});
				oldusername=value;
			}
			return (!parent.hasClass("error"))
		};

		function checkpassword(){
			var password=$("#password");
			var parent = password.parent().parent();
			if(password.val()==""){
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				password.next("span").html("请输入密码").show();
				return false;
			}else if(password.val().length<6 || password.val().length>20){
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				password.next("span").html("密码长度6-20位.").show();
				return false;
			}else{
				if(parent.hasClass("error")){
				parent.removeClass("error");
				};
				password.next("span").hide();
			};

			if(!checkDigitalLatter(password.val())){
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				password.next("span").html("密码只能由数字或字母组成.").show();
				return false
			}
			return true;
		};
		
		function checkconfirm_password(){
			var confirm_password=$("#confirm_password");
			var parent = confirm_password.parent().parent();
			if(confirm_password.val()!=$("#password").val()){
				if(!parent.hasClass("error")){
					parent.addClass("error");
				};
				confirm_password.next("span").html("两次输入密码不一致.").show();
				return false;
			}else{
				if(parent.hasClass("error")){
					parent.removeClass("error");
				};
				confirm_password.next("span").hide();
			};
			return true;
		};
		
</script>
{% endblock %}