<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="menu.xsl"?>
<categories>
    <clothes>
        <name>衣服</name>
        <id>1000</id>
        <seq>1</seq>
        <items>
            <item>
                <name>风衣</name>
                <id>1001</id>
                <seq>1</seq>
                <ishot>1</ishot>
            </item>
            <item>
                <name>布衣</name>
                <id>2001</id>
                <seq>1</seq>
                <ishot>0</ishot>
            </item>
        </items>
    </clothes>
    
</categories>