<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE|default:"zh-cn"}}" lang="{{ LANGUAGE_CODE|default:"zh-cn"}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="芭时尚 购物导航 社区分享 达人装扮 潮流前线" />
    <title>{% block title %}{% endblock%}</title>
    <link href="/static/style/bootstrap.css" rel="stylesheet">
    <link href="/static/style/bootstrap-customer.css" rel="stylesheet">
    <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
          .dropdown:hover .dropdown-menu{
              display: block;
          }
         .dropdown .caret {
          margin-top: 10px;
          margin-left: 6px;
         
            border-top-color: #ffffff;
              border-bottom-color: #ffffff;
            }
            .navbar-inverse .nav li.dropdown > a:hover .caret{
     border-top:0;
    border-bottom: 4px solid #FFF;
        }
        </style>
    {% block style %}{% endblock %}
</head>
<body>
{% include 'includes/menu.html' %}
<!-- share model -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" id="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel">分享宝贝</h3>
    </div>
    <div class="modal-body">
        
        <div class="share-input">
        <p>请输入宝贝的网址</p>
        <div class="input-append">
            <input type="text" class="span5" id="appendedInputButton"/>
            <button class="btn btn-primary" type="button" id="share-action" data-loading-text="获取中...">确定</button>
        </div>
        <p class="text-warning">目前仅支持淘宝</p>
        </div>

        <div class="share-preview">
           <!--  <p><span>¥199</span>&nbsp;品牌特卖 秋款高腰直筒中老年感恩妈妈裤孝顺女裤大码牛仔裤包邮</p>
            <div class="info">
                <img src="/media/img/g/ce4ce81e1e1511e3baa8005056c00008.jpg" />
                <p>
                <textarea name="desc" id="desc" cols="30" rows="3"></textarea>
                <br/>
                <button class="btn" type="button">分享</button>
                </p>
            </div> -->
        </div>


    </div>
    <!-- <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary">Save</button>
</div>
-->
</div>
<!-- end share model -->

<div class="clearfix"></div>
<!--container-->
<div class= "container">
{% block content %}
<h1>base common page</h1>
{% endblock%}

{% block woo %}
{% endblock %}

<!-- ========================================= -->
<!--Footer-->
<!-- <div class="clearfix"></div> -->
<footer>
    {% block footer %}
    <div class="footer text-center clearfix">
        <ul class="inline">
             <li rel="popover">关于我们</li>
             <li>关注我们</li>
             <li>网站地图</li>
        </ul>
        Copyright&nbsp;&copy;&nbsp;2013&nbsp;www.bashishang.com
    </div>
    {% endblock %}
</footer>
<!--End Footer-->

</div>
<!--End container-->

<div class="clearfix"></div>

<script src="/static/js/jquery-1.9.1.min.js" ></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.grumble.min.js"></script>
<script src="/static/js/taoke-base.js"></script>
{% block javascript %}{% endblock %}

<script>
    $(function(){
        // function stripTrailingSlash(str){
        //     if(str.substr(-1)=='/'){
        //         return str.substr(0,str.length-1);
        //     }
        //     return str;
        // }
    
        $(".nav-collapse .nav").find("li").each(function(){
            var a = $(this).find("a:first")[0];
            var currentURL = stripTrailingSlash(window.location.pathname)
            if($(a).attr("href")==currentURL){
                $(this).addClass("active");
            }else{
                $(this).removeClass("active")
            }
        });

        $(".nav [rel=tooltip]").tooltip({
            animation:true,
            placement:'left',
            title:"分享成功",
            trigger:'manual',
            delay: {hide: 200 }
        });

        $("#share-action").click(function(event) {
            /* Act on the event */
            var uri=$("#appendedInputButton");
            if(uri.val().trim()==""){
                uri.focus();
                // alert("亲，要输入分享宝贝的链接地址哦！");
                return false;
            }
            $.ajax({
                type: 'POST',
                url: '/share/action/',
                dataType: 'json',
                data:{url:uri.val().trim()},
                error: function(XMLHttpRequest,status,errorThrown){
                    alert(status);
                },
                success: function (data,status){
                     // alert(data);
                    $("#myModal").width(600);
                    $(".share-input").css("display","none");
                    $(".share-preview").css("display","block");

                    $(".share-preview").html('\
                    <p><span>¥'+data.price+'</span>&nbsp;'+data.title+'</p>\
                    <div class="info">\
                        <img src="/'+data.pic_url_grid+'" />\
                        <p>\
                        <textarea width="300" height="200" placeholder="亲！说点什么吧" name="desc" id="desc"\ cols="30" rows="3"></textarea>\
                        <br/>\
                        <button class="btn" type="button">分享</button>\
                        </p>\
                    </div> <input type="hidden" id="item_id" value="'+data.uuid+'"  />'
                    );
                }
            });
            return false;
        });

        // share active
        $('div.share-preview').delegate('button','click',function(){
            // alert('shar active');
            $.ajax({
                type: 'POST',
                url: '/share/action/',
                dataType: 'json',
                data:{item_id:$('#item_id').val(),
                      comment:$('#desc').val(),
                      p:'active'
                     },
                error: function(XMLHttpRequest,status,errorThrown){
                    alert(status);
                },
                success: function (data,status) {
                    // alert(status);

                }
            });
            $('#myModal').modal('hide');
            reset_model();
            $(".nav [rel=tooltip]").tooltip('show');
        });

        // model reset
        $("div.close").delegate('#close','click',reset_model);

        var reset_model=function(){
            // $("#myModal").css("width","500");
            $("#myModal").width(500);
            $('#appendedInputButton').val('');
            $(".share-preview").html();
            $(".share-preview").css("display","none");
            $(".share-input").css("display","block");
            return false;
        };

    })
    </script>
{% block footer_javascript %}
{% endblock %}
</body>
</html>