<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TaoKe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/style/bootstrap.css" rel="stylesheet">
    <link href="/static/style/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/style/bootstrap-customer.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
     <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js?v=1" ></script>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/style/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/style/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/style/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/style/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/style/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">登录</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="category_title"></div>
      
      <div class="images_wall">

        <div class="img_grid">
          <div class="img_pic">
              <div class="price">¥125</div>
              <a href="2" target="_blank"><img width="200" height="200" alt="" title="" src="/media/img/2nd/f34c8870b2da11e2b610000c298c19cc.jpg"></a>
          </div>

          <div class="img_remark">
            <P class="desc"><small>desc desc desc desc desc desc desc desc desc</small></p>

            <p class="comm_num f12_f">
              <a href="javascript:void(0)" class="likes">
                <b class="btn btn-mini likes_status" >喜欢</b>
                <span class="red_f">480</span>
              </a>
              <a href="javascript:void(0)" class="pull-right review">
                <b>评论</b>
                <span>20</span>
              </a>
            </p>
          </div>

          <div class="clearfix"></div>

          <div class="img_share">
              <a class="u_s_icon_32" target="_blank" href="/persion/">
                  <img src="/media/icon/u_s_0123456.jpg">
              </a>
              <p class="" >gdsfdsdfsdfdsfdsfasdfasdfasdafdsa</p>
              <div class="clearfix"></div>
          </div>

          <div class="img_comment">

          </div>
        </div>
      
        <!-- <ul id="tiles"></ul> -->

      </div><!-- / image_wall -->


      <div id="loader">
          <div id="loaderCircle"></div>
      </div>
      <footer id="nodatafound">
      </footer>
    </div> <!-- /container -->

    <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
    var handler = null;
    var page = 1;
    var isLoading = false;
    var isStop = false;
    var apiURL = '/share/JSON/'

    // Prepare layout options.
    // var options = {
    //   autoResize: true, // This will auto-update the layout when the browser window is resized.
    //   container: $('#tiles'), // Optional, used for some extra CSS styling
    //   offset: 2, // Optional, the distance between grid items
    //   itemWidth: 210 // Optional, the width of a grid item
    // };

    /**
     * When scrolled all the way to the bottom, add more tiles.
     */
    function onScroll(event) {
      // Only check when we're not still waiting for data.
      if(!isLoading && !isStop) {
        // Check if we're within 100 pixels of the bottom edge of the broser window.
        var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 100);
        if(closeToBottom) {
          loadData();
        }
      }
    };

    /**
     * Refreshes the layout.
     */
    function applyLayout() {
      // Create a new layout handler.
      handler = $('#tiles li');
      handler.wookmark(options);
    };

    /**
     * Loads data from the API.
     */
    function loadData() {
      isLoading = true;
      $('#loaderCircle').show();

      $.ajax({
        type:'GET',
        url: apiURL+''+page,
        dataType: 'json',
        //data: {page: page}, // Page parameter to make sure we load new data
        success: onLoadData
      });
    };

    /**
     * Receives data from the API, creates HTML for images and updates the layout
     */
    function onLoadData(data) {
      isLoading = false;
      $('#loaderCircle').hide();

      // Increment page index for future calls.
      page++;

      // Create HTML for the images.
      var html = '';
      var image;
      if (data.length>0){
          for( var i in data){
            image = data[i];
            html += '<li>';

            // Image tag (preview in Wookmark are 200px wide, so we calculate the height based on that).
            html += '<a href="'+image.pk+'"> \
                        <img src="/'+image.fields.pic_local_url_second+'" \
                             width="'+image.fields.pic_width_second+'" \
                             height="'+image.fields.pic_height_second+'" />\
                     </a>';
            // Image title.
            html += '<p>'+image.fields.title+'</p>';

            html += '</li>';
          }
          // Add image HTML to the page.
          $('#tiles').append(html);
          // Apply layout.
          // applyLayout();
      }else
      {
        isStop = true;
         $('#nodatafound').append("<div><h2 style='text-align: center;'>No More Data Found</h2></div>");
      }
    };

    $(document).ready(new function() {
      // Capture scroll event.
      $(document).bind('scroll', onScroll);

      // Load first data from the API.
      loadData();
    });
  </script>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>

  </body>
</html>
