{% extends "base.html" %}
{% block title %}
  {{ model.title }}
{% endblock%}

{% block content %}
<!-- begin left -->
<div class="detail-left">
  <!-- 1. info -->
  <div class="detail">
     <!-- image -->
    <div class="detail-pic pull-left text-center">
      <span class="hide2" id="category_id">{{ model.category.category_id }}</span>
      <a href="/share/{{ model.uuid }}" target="_bank" alt="{{ model.title }}">
        <img src="/{{ model.pic_url_detail }}" alt="{{ model.title }}" title="{{ model.title }}">
      </a>
    </div>
    <!-- other -->
    <div class="detail-info pull-right text-left">
        <div class="detail-title">
          <p>
            <a href="/share/{{ model.uuid }}" target="_bank">{{ model.title }}
            </a>
          </p>
          <small>
            由<a href="/share/a/{{model.account.user.id}}">{{model.account.user.username}}</a> 分享到<a href="">精美蕾丝情</a>
          </small>
          <p class="row-price">
           价格:&nbsp;&nbsp;<span class="big-price">¥{{ model.price }}</span>
          </p>
           <a href="/share/{{ model.uuid }}" target="_bank" class="buy">立即买入</a>
        </div>


        <span class="btn">喜欢</span><span class="liked-num">{{model.add_up_love}}</span>

        <div class="relate-item">
        </div>

        <div class="detail-comment">评论
        </div>
    </div>

    <div class="clearfix"></div>
  </div>
  <!-- end detail info -->

  <!-- 2. 相关推荐 -->
  <div class="clearfix"></div>
  <div class="maybe"><strong>也许您还喜欢</strong>
  </div>
  <div class="images_wall clearfix"></div>

<div id="loaderCircle clearfix"></div>
<div id="nodatafound clearfix"></div>
  <!-- /推荐 -->
</div>
<!-- /end detail left -->

{% endblock %}

{% block footer_javascript %}
 <script type="text/javascript">
    var category = {{ model.item_cats.cid }}
    var handler = null;
    var page = 1;
    var isLoading = false;
    var isStop = false;
    var apiURL = '/share/cats/'+ category

    // Prepare layout options.
    var options = {
      autoResize: true, // This will auto-update the layout when the browser window is resized.
      container: $('.images_wall'), // Optional, used for some extra CSS styling
      offset: 10, // Optional, the distance between grid items
      itemWidth: 226 // Optional, the width of a grid item
    };

    /**
     * When scrolled all the way to the bottom, add more tiles.
     */
    function onScroll(event) {
      // Only check when we're not still waiting for data.
      if(!isLoading && !isStop) {
        // Check if we're within 100 pixels of the bottom edge of the broser window.
        var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 100);
        if(closeToBottom) {
          loadData();
        }
      }
    };

    /**
     * Refreshes the layout.
     */
    function applyLayout() {
      // Create a new layout handler.
      handler = $('.images_wall .img_grid');
      handler.wookmark(options);
    };

    /**
     * Loads data from the API.
     */
    function loadData() {
      isLoading = true;
      $('#loaderCircle').show();
      $.ajax({
        type:'GET',
        url: apiURL,
        data: {page:page},
        dataType: 'json',
        success: onLoadData
      });
    };

    /**
     * Receives data from the API, creates HTML for images and updates the layout
     */
    function onLoadData(data) {
      isLoading = false;
      $('#loaderCircle').hide();

      // Increment page index for future calls.
      page++;
      if (data.length==0 )
      {
        isStop = true;
       $('#nodatafound').append("<div><h2 style='text-align: center;'>No More Data Found</h2></div>");
       return
      } 
      // Create HTML for the images.
      var html = '';
      $.each(data,function(index,item){
            html += '<div class="img_grid">';
            html += '<div class="img_pic">';
            html += '<div class="price">'+item.price+'</div>';
            html += '<a href="'+item.item_id+'" target="_blank">';
            html += '<img width="'+item.pic_width_grid+'" height="'+item.pic_height_grid+'" alt="'+item.title+'" title="'+item.title+'"  src="/'+item.pic_url_grid+'">';
            html += '</a>';
            html += '</div>';
            // img remark
            html += '<div class="img_remark">\
                    <P class="desc"><small>'+item.desc+'</small></p>\
            <p class="comm_num f12_f">\
              <a href="javascript:void(0)" class="likes">\
                <b class="btn btn-mini likes_status" >喜欢</b>\
                <span class="red_f">'+item.add_up_love+'</span>\
              </a>\
              <a href="javascript:void(0)" class="pull-right review">\
                <b>评论</b>\
                <span>'+item.add_up_comment+'</span>\
              </a>\
            </p>\
          </div>';
            html +='<div class="clearfix"></div><div class="img_share"><a class="u_s_icon_32 trans07" target="_blank" href="/persion/"><img src="/media/icon/u_s_0123456.jpg"></a><p class="u_m140_f">fdsdfsdfdsfdsfasdfasdfasdafdsa</p><div class="clearfix"></div></div>';
            html += '</div>';
            
           });

          // Add image HTML to the page.
           $('.images_wall').append(html);
          applyLayout();
    };

    $(document).ready(new function() {
      // Capture scroll event.
      $(document).bind('scroll', onScroll);
      // Load first data from the API.
      loadData();
    });
   </script>
{% endblock %}