{% extends "base.html" %}
{% block title %}
  {{ model.title }}
{% endblock%}
 {% block style %}
<style>
          body {
            background-color: #FFF;
          }
        </style>
 {% endblock %}
{% block content %}
<!-- begin left -->
<div class="detail-left">
  <!-- 1. info -->
  <div class="detail">
     <!-- image -->
    <div class="detail-pic pull-left text-center">
      <span class="hide2" id="category_id">{{ model.category.category_id }}</span>
      <a href="/share/{{ model.uuid }}" target="_bank" alt="{{ model.title }}">
        <img src="/{{ model.pic_url_detail }}" alt="{{ model.title }}" title="{{ model.title }}">
      </a>
    </div>
    <!-- other -->
    <div class="detail-info pull-right text-left">
        <div class="detail-title">
          <p class="f16_f">
            <a href="/share/{{ model.uuid }}" target="_bank"><strong>{{ model.title }}</strong>
            </a>
          </p>
          <span class="border_style_solid"></span>
         <!--  <small>
            由<a href="/share/a/{{model.account.user.id}}">{{model.account.user.username}}</a> 分享到<a href="">精美蕾丝情</a>
          </small> -->
          <p class="row-price">
           <span class="letter_spac4">价格</span><span class="big-price">¥{{ model.price }}</span>
          </p>
           <a href="/share/{{ model.uuid }}" target="_bank" class="buy">立即买入</a>
        </div>
        <!-- <span class="btn">喜欢</span><span class="liked-num">{{model.add_up_love}}</span> -->

        <div class="relate-item">
        </div>

      <!--   <div class="detail-comment">评论
        </div> -->
    </div>

    <div class="clearfix"></div>
  </div>
  <!-- end detail info -->

  <!-- 2. 相关推荐 -->
<!--   <div class="clearfix"></div>
  <div class="maybe"><strong>也许您还喜欢</strong>
  </div> -->
 
 
 
  <!-- /推荐 -->
</div>
<!-- /end detail left -->

{% endblock %}

 